<nb-layout windowMode>
    <nb-layout-header fixed>
        <div class="header-container">
            <div class="logo-container">
              <a class="sidebar-toggle">
                <nb-icon icon="menu-2-outline"></nb-icon>
              </a>
              <div class="logo" href="#" (click)="navigateHome()">
                  <h2>Flight Now</h2>
              </div>
            </div>
          </div>
          
          <div class="header-container justify-content-end pr-5">
            <nb-actions size="small" class="mr-5">
              <nb-action class="user-action">
                <nb-user [name]="user.username" [nbContextMenu]="userMenu">
                </nb-user>
              </nb-action>
            </nb-actions>
        </div>          
    </nb-layout-header>

    <nb-layout-column>
      <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>