<nb-layout windowMode>
    <nb-layout-header fixed>
        <div class="header-container">

            <div class="logo-container">
              <a class="sidebar-toggle">
                <nb-icon icon="menu-2-outline"></nb-icon>
              </a>
              <div class="logo" href="#" (click)="navigateHome()">
                  <h2>Flight Now</h2>
              </div>
            </div>
            <nb-user 
              size="large" 
              color="#F3EFF5" 
              name="John Doe"
              [nbContextMenu]="items"
              nbContextMenuTag="my-context-menu"
              ></nb-user>

          </div>
          
    </nb-layout-header>

    <nb-layout-column>
      <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>