@import "bootstrap/scss/bootstrap.scss";

.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.block {
    @extend .border-bottom, .p-3, .mt-2, .mr-2;
    border-color: #CCC;
    &:last-child {
        @extend .border-0
    }
}

.error {
    @extend .text-danger;
}