<div class="container">
    <div class="card card-body" 
    [nbSpinner]="loading"
    nbSpinnerStatus="danger"
    nbSpinnerSize="large"
    nbSpinnerMessage="">
        <div class="grid">
            <div class="block">
                <h4 class="mb-2">nome</h4>
                <p class="w-100 mb-1">{{ userService.userData.name }}</p>
                <a (click)="alterar('name')" href="javascript:null">alterar</a>
            </div>
            <div class="block">
                <h4 class="mb-2">email</h4>
                <p class="w-100 mb-1">{{ userService.userData.email }}</p>
                <a (click)="alterar('email')" href="javascript:null">alterar</a>
            </div>
            <div class="block">
                <h4 class="mb-2">nome de usuário</h4>
                <p class="w-100 mb-1">{{ userService.userData.username }}</p>
                <a (click)="alterar('username')" href="javascript:null">alterar</a>
            </div>
            <div class="block">
                <h4 class="mb-2">data de nascimento</h4>
                <p class="w-100 mb-1">{{ userService.userData.born_date | date }}</p>
                <a (click)="alterar('born_date')" href="javascript:null">alterar</a>
            </div>
            <div class="block">
                <h4 class="mb-2">créditos</h4>
                <p class="w-100 mb-1">{{ userService.userData.credits }}</p>
                <a href="javascript:null">adquirir mais</a>
            </div>
        </div>
        <hr *ngIf="editing">
        <div [class.d-none]="!editing" [class.d-flex]="editing" class="editing-form  justify-content-center align-items-strech">
            <div>
                <h3 class="mb-3">Alterando {{ placeholderMessage }} </h3>
                <form [formGroup]="formEdition">
                    <input #inputValue type="{{ editingField === 'born_date' ? 'date' : 'text' }}" [formControl]="formEdition.controls.value" class="mb-2" nbInput
                        placeholder="digite {{ placeholderMessage }}" type="text"><br />
                    <p *ngIf="formEdition.get('value').errors?.required && formEdition.get('value').touched" class="error">campo obrigatório</p>
                    <div class="d-flex">
                        <input [formControl]="formEdition.controls.confirm" type="{{ editingField === 'born_date' ? 'date' : 'text' }}" nbInput placeholder="repita o valor" type="text">
                        <button class="ml-3" (click)="submit()" [disabled]="formEdition.invalid" nbButton
                            status="primary">alterar</button>
                        </div>
                        <p *ngIf="formEdition.errors?.notEqual && formEdition.controls.confirm.touched" class="error">os campos devem ser iguais</p>
                </form>
            </div>
        </div>
    </div>
</div>