<div class="m-5 card p-4">
    <h2 class="mb-3">Minhas passagens adquiridas</h2>

    <div *ngFor="let passagem of (flights$ | async)" class="card bg-light p-4 mt-2">
        <div class="d-flex justify-content-between">
            <h6 class="mb-3"><strong>Destino: </strong>{{ passagem.aeroportoChegada }}</h6>
            <div>
                <p class="mb-1"><strong>adquirida em</strong>  {{ passagem.created_at | date }}</p>
                <p class="mb-1 text-right"><strong>às</strong> {{ passagem.created_at | date:"HH'h'mm" }}</p>
            </div>
        </div>

        <p class="mb-3">
            <strong>Voce irá embarcar em: </strong>
            <span class="mb-3">{{ passagem.codigoAeroportoSaida }}</span>
        </p>

        <p class="mb-3">
            <strong>Voce irá desembarcar em: </strong>
            <span class="mb-3">{{ passagem.codigoAeroportoChegada }}</span>
        </p>

        <p><strong>assento: </strong>{{ getRandomIntInclusive(1, 20) }}</p>
    </div>

</div>