<div [nbSpinner]="loading" class="card">
    <div class="card-header p-2">Adquira mais créditos</div>
    <div class="card-body p-3">
        <label class="d-block" for="inputCredits">coloque a quantidade de créditos</label>
        <form [formGroup]="formCredit">
            <input pattern="\d+" formControlName="valor" id="inputCredits" nbInput type="tel">
        </form>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-end">
            <button (click)="ObtainCredits()" [disabled]="formCredit.invalid" nbButton status="primary">Obter créditos</button>
        </div>
    </div>
</div>