
    <div class="row justify-content-center">
        <h2>A viagem dos seus sonhos, apenas um click de distância</h2>
    </div>
    
    <div class="container mt-1">
        <app-search-card (submit)="submit($event, dialog)">
        </app-search-card>
    </div>


<div class="container container-bigger d-flex flex-wrap align-content-stretch">
    <div *ngFor="let item of flights">
        <div class="mx-2 mb-4">
            <app-trip-card 
                (click)="openDialog(dialog, item)"
                [flight]="item">
            </app-trip-card>
        </div>
    </div>
</div>

<ng-template #dialog let-data>
    <app-trip-details [adults]="data.adults" [kids]="data.kids" [flight]="data.flight"></app-trip-details>
</ng-template>
