
    <div class="row justify-content-center">
        <h2>A viagem dos seus sonhos, apenas um click de distância</h2>
    </div>
    
    <div class="container mt-1">
        <app-search-card (submit)="submit($event)">
        </app-search-card>
    </div>


<div class="container container-bigger d-flex flex-wrap align-content-stretch">
    <div *ngFor="let item of flights">
        <div class="mx-2 mb-4">
            <app-trip-card 
                (click)="openDialog(dialog, item)"
                [flight]="item">
            </app-trip-card>
        </div>
    </div>
</div>

<ng-template #dialog let-data>
    <app-trip-details (confirm)="closeDialog(popupSuccess)" [adults]="data.adults" [kids]="data.kids" [flight]="data.flight"></app-trip-details>
</ng-template>

<ng-template #popupSuccess>
    <div class="card p-4">
        <h6 class="mb-4">Passagem Comprada com sucesso!</h6>
        <button class="d-inline" (click)="closeSuccessModal()" class="btn btn-primary">
            Massa!
        </button>
    </div>
</ng-template>
