<div class="card width-900" size="large">
    <div>
        <div class="crop">
            <img class="card-image-top" [src]="getImagePath()" alt="">
        </div>
        <div class="p-4">
            <h3> Conheça {{ flight.originCity }} </h3>
            <h5 class="text-secondary font-weight-lighter">{{ flight.origin }} &rarr; {{ flight.destiny }}</h5>
        </div>
        <hr>
        <div class="d-flex justify-content-end">
            <span class="bullet">
                <nb-icon icon="paper-plane-outline"></nb-icon> 
                Você irá partir em <strong>{{ flight.destinyAddress }}</strong>,
                dia 
                <strong>{{ flight.previstDate | date }}</strong> às 
                <strong>{{ flight.previstDate | date:"HH'h'MM"}}</strong>                
                </span>
        </div>
        <div class="d-flex p-3 justify-content-between align-items-end">
            <div class="d-flex">
                <div>
                    <h5><small>Preço para <strong>{{ textAdults }}{{ textKids }}:</strong></small></h5>
                    <h3 [ngClass]="{ 'text-success': saldoPositivo, 'text-danger': !saldoPositivo}"
                    class="text-bold">{{ calculatePrice() | currency:'BRL':true }}</h3>
                </div>
                <div class="border-left ml-5 position-relative">
                    <div class="ml-3 position-absolute" style="bottom: 0; min-width: 120px;">
                        <h6 class="mb-1"><small><strong>Saldo atual:</strong></small></h6>
                        <h5 [ngClass]="{ 'text-success': saldoPositivo, 'text-danger': !saldoPositivo}" class="text-bold text-success">{{ userCredits | currency:'BRL':true }}</h5>
                    </div>
                </div>
            </div>
            <div 
            nbPopoverTrigger="hover"
            [nbPopover]="!saldoPositivo && hoverDisabled">
                <button [disabled]="!saldoPositivo" status="primary" nbButton>Comprar</button>
            </div>
        </div>
    </div>
</div>

<ng-template #hoverDisabled>
    <div class="p-3">

        <span>Saldo insuficiente, adquira mais dinheiros <a href="javascript:null" (click)="adquirirMaisEmit()">aqui</a></span>
    </div>
</ng-template>
