<div [nbSpinner]="loading" class="card width-900" size="large">
    <div>
        <div class="crop">
            <img class="card-image-top" [src]="getImagePath()" alt="">
        </div>
        <div class="p-4">
            <h3 >
                        {{ flight.ida.cidadeSaida }}
                <strong>({{ flight.ida.codigoAeroportoSaida }})</strong> 
                &rarr;  {{ flight.ida.cidadeChegada }}
                <strong>({{ flight.ida.codigoAeroportoChegada }})</strong> 
            </h3>
            <h5 class="mb-4 text-secondary">Oferecido por {{ flight.companhiaAerea }}</h5>

            <div class="d-flex">
                <div class="border-right pr-3 pt-3 flex-fill">
                    <h5 class="mb-0">Ida</h5>
                    <p class="mb-2 font-weight-bold">dia {{ flight.ida.dataSaida | date }}</p>

                    <p class="mb-2 small">embarque em <br><strong> aeroporto {{ flight.ida.aeroportoSaida }}</strong> </p>
                    <p class="small">desembarque em <br><strong> aeroporto {{ flight.ida.aeroportoChegada }}</strong> </p>
                </div>
                <div class="ml-3 pt-3 flex-fill" *ngIf="!flight.soIda">
                    <h5 class="mb-0">Volta</h5>
                    <p class="mb-2 font-weight-bold">dia {{ flight.volta.dataSaida | date }}</p>

                    <p class="mb-2 small">embarque em <br><strong> aeroporto {{ flight.volta.aeroportoSaida }}</strong> </p>
                    <p class="small">desembarque em <br><strong> aeroporto {{ flight.volta.aeroportoChegada }}</strong> </p>
                </div>
            </div>
            
        </div>
        <hr>
        <div class="d-flex p-3 justify-content-between align-items-end">
            <div class="d-flex">
                <div>
                    <h5><small>Preço para <strong>{{ textAdults }}{{ textKids }}:</strong></small></h5>
                    <h3 [ngClass]="{ 'text-success': saldoPositivo, 'text-danger': !saldoPositivo}"
                    class="text-bold">{{ calculatePrice() | currency:'BRL':true }}</h3>
                </div>
                <div class="border-left ml-5 position-relative">
                    <div class="ml-3 position-absolute" style="bottom: 0; min-width: 120px;">
                        <h6 class="mb-1"><small><strong>Saldo atual:</strong></small></h6>
                        <h5 [ngClass]="{ 'text-success': saldoPositivo, 'text-danger': !saldoPositivo}" class="text-bold text-success">{{ userCredits | currency:'BRL':true }}</h5>
                    </div>
                </div>
            </div>
            <div 
            nbPopoverTrigger="hover"
            [nbPopover]="!saldoPositivo && hoverDisabled">
                <button (click)="comprarVoo()" [disabled]="!saldoPositivo" status="primary" nbButton>Comprar</button>
            </div>
        </div>
    </div>
</div>

<ng-template #hoverDisabled>
    <div class="p-3">

        <span>Saldo insuficiente, adquira mais dinheiros <a href="javascript:null" (click)="adquirirMaisEmit()">aqui</a></span>
    </div>
</ng-template>
